<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10250566124-u6039drp1sol8oub0qfp3mnh4qojj27q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10250566124-u6039drp1sol8oub0qfp3mnh4qojj27q</string>
	<key>API_KEY</key>
	<string>AIzaSyBa8TAo4tp2s8iNy-veUHVSPeyveZK_onk</string>
	<key>GCM_SENDER_ID</key>
	<string>10250566124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ClimaApp.Recetario</string>
	<key>PROJECT_ID</key>
	<string>recetario-d6ae4</string>
	<key>STORAGE_BUCKET</key>
	<string>recetario-d6ae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10250566124:ios:58284149b9bc21d23b68c9</string>
</dict>
</plist>